# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Microsoft
# AlignAfterOpenBracket: Align
# AlignTrailingComments:
#   Kind: Always
#   OverEmptyLines: 3
# PointerAlignment: Right
# SpacesBeforeTrailingComments: 2
