name: "Format Code"

on:
  workflow_run:
    workflows: ["Release Artifacts"]
    types: ["completed"]
    branches: [master]
  workflow_dispatch:

concurrency:
  group: "format"
  cancel-in-progress: false

jobs:
  format:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    timeout-minutes: 60

    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.workflow_run.head_sha || github.head_ref }}

      - name: Setup Clang-Format
        run: sudo apt-get update && sudo apt-get install -y clang-format

      - name: Format C/C++ files
        run: find . -name '*.c' -o -name '*.h' | xargs clang-format -i -style=file

      - name: Check for changes
        id: check_changes
        run: |
          if git diff --quiet; then
            echo "changed=0" >> $GITHUB_OUTPUT
          else
            echo "changed=1" >> $GITHUB_OUTPUT
          fi

      - name: Auto commit and push changes
        if: steps.check_changes.outputs.changed != 0
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "style(format): AUTO format code"
          branch: ${{ github.ref_name }}
          commit_options: "--no-verify --signoff"
          file_pattern: "*.h *.c"
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          status_options: "--untracked-files=no"
          add_options: "-u"
          disable_globbing: true
